<h1>Index page</h1>
<a href="/person/{{me.firstName}}"><h2>Contact page with params method</h2></a>
<a href="/about?firstName={{me.firstName}}&lastName={{me.lastName}}"><h2>About page with query method</h2></a>



{{!-- http://localhost:3000/about?firstName=laura&lastName=pascual --}}